/* CSS declarations go here */
/*@import url(http://fonts.googleapis.com/css?family=Oswald:400,300|Open+Sans+Condensed:300);*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,700);


body{
/*	font-family: Verdana, Geneva, sans-serif;
*/	margin-left:20px !important;
	
}

h1{
	font-family: 'Josefin Slab', serif;
}


/*.login-buttons{

}*/

.adminNav{
/*	background: #DD514C;
*/	background: #ED615C;
}

.adminNav:hover{
	/*background: #ED615C !important; Whoops, that makes it lighter*/
/*	background: #CD514C !important;
*/
	background: #DD514C !important;
}

.navbar{
	cursor:pointer;

}